<div class="navbar">
  <div class="navbar-inner">
    <form class="filter navbar-form pull-left">
      <input type="text" class="span2" style="width:240px;" placeholder="filter...">
    </form>
  </div>
</div>
<ul class="tree"></ul>
<div class="navbar-inner">
<form class="form-horizontal navbar-form pull-left ">
	      <input type="text" class="span3 add_node" style="margin-right:0px;width:180px;" placeholder=""></input>  
	      <button class="btn btn-primary btn_add_node" style="margin-top:5px;">Add</button>
</form>
</div>
