<div class="span8 paginator">
  <a href="#" tabindex=1 class="previous">previous</a> | 
  <input tabindex=2 type="text" class="current_page" style="width:30px;height: 20px;margin-top:10px;" value="<%= current_page%>" ></input> of <%= total_pages %> |
  <a href="#" tabindex=3 class="next">next</a>
</div>
<div class="row-fluid">
  <div class="content_container span8">
  	
  </div>
</div>
<div class="span8 paginator">
  <a href="#" class="previous">previous</a> | 
  <input type="text" class="current_page" style="width:30px;height: 20px;margin-top:10px;" value="<%= current_page%>" ></input> of <%= total_pages %> |
  <a href="#" class="next">next</a>
</div>
