<div class="row-fluid">
  <div class="span8 paginator" style="margin: 0 auto; width:200px;">
    <a href="#" class="previous">previous</a>
    <input type="text" class="current_page" style="width:30px;" value="<%= current_page%>" ></input> of <%= total_pages %>
    <a href="#" class="next">next</a>
  </div>
</div>
<div class="row-fluid">

  <div class="content_container span8">
  	
  </div>
  <div class="notes_container span1" >

  </div>
</div>