<textarea rows="6" style="width:95%" name="text" class="text"  placeholder="note..."><%= note.text %></textarea>
<br/>

<input type="text" name="authorities" class="authorities" value="" />
<a href="#" class="delete btn btn-mini" style="position: absolute; top: 22px; left: -20px">x</a>
<a href="#"  class="collapsable btn btn-mini" style="position: absolute; top: 0px; left: -20px">c</a>