
<input type="text" name="text" class="text" value="<%= text %>" placeholder="subjective note" />
<br/>
<input type="text" name="authorities" class="authorities" value="<%= authorities %>" placeholder="tag" />
<a href="#" class="delete btn btn-mini" style="position: absolute; top: 22px; right: -20px">x</a>
<a href="#" class="collapsable btn btn-mini" style="position: absolute; top: 0px; right: -20px">c</a>