<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" style="">
      <div class="manager">
      </div>
    </div>        
    <div >
      <div class="content span9">
      </div>
      <div style="clear:both;">&nbsp;</div>
    </div>
  </div>
</div>
