<div class="container-fluid">
  <div class="row-fluid">
    <div class="affix" style="width:20%">
      <div class="manager">
      </div>
    </div>        
    <div >
      <div class="content offset3 span9">
      </div>
      <div style="clear:both;">&nbsp;</div>
    </div>
  </div>
</div>
