<div style="position:relative;clear:left;" data-node-id="<%= _id %>">
  <em><%= name %></em>
  <div class="buttons">
    <a class="make_child" href="#" style="right: 30px;" ><i class="icon-arrow-right"></i></a>
    <a class="destroy"    href="#" style="right: 10px" ><i class="icon-remove">&nbsp;</i></a>
  </div>
</div>