body {
	background: #AAA;
}
.manager { 
	position: absolute;
}
.authority_manager {
	background: #FFF;
	z-index: 20;
}
	.authority_manager .tree {
		height: 300px;
		overflow: scroll;
	}
	.authority_manager ul.tree li div{
		background: #F3F3F3;
		margin: 1px 0px;
		font-size: 12px;

	}
.content_container {
	float: left;
	width: 80%;
}
	.content_container .set {
		position: relative;
	}
	.content_container .set {
		position: relative;
	}
		.content_container .set > p {
			position: relative;
			margin: 0 ;
		}
		.content_container .set > div {
			position: absolute;
			visibility: hidden;
		}
			.content_container .set > div > em {
				background: yellow;
				visibility: visible;
				font-style: normal;
				color: rgba(255,255,255,0);
			}
		.content_container .set,
		.content_container .set {
			margin: 1.5em;
		}
		.content_container { 
			font-size: 16px;
			line-height: 1.5em;
			width: 35em;
			margin: 1.5em;
			background: #FFFEF0;
			color: #111;
			font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', Georgia, Utopia, serif;
		}
.notes_container {
	float: left;
	width: 20%;
	background: #FFF;
	position: relative;
}
	.notes_container .note {
		position: absolute;
	}