body {

}
.authority_manager {
	background: #FFF;
}
	.authority_manager .tree {
		height: 300px;
		overflow: scroll;
	}
.content_container {
	float: left;
}
	.content_container .set {
		position: relative;
	}
	.content_container .set {
		position: relative;
	}
		.content_container .set > p {
			position: relative;
			margin: 0 ;
		}
		.content_container .set > div {
			position: absolute;
			visibility: hidden;
		}
			.content_container .set > div > em {
				background: yellow;
				visibility: visible;
				font-style: normal;
				color: rgba(255,255,255,0);
			}
.notes_container {
	float: left;
	width: 400px;
	background: #FFF;
	position: relative;
}
	.notes_container .note {
		position: absolute;
	}